; 请妥善保管您的配置
@ieggdevops:registry=https://ptc-npm.pkg.coding.intlgame.com/devops-frontend/common/
always-auth=true
//ptc-npm.pkg.coding.intlgame.com/devops-frontend/common/:username=common-1640759004936
//ptc-npm.pkg.coding.intlgame.com/devops-frontend/common/:_password=ZmI1OTZjOTc0OGE0MGIwNzhhMGI1YWVmY2I1MThhMTgzYWEyNGMxZg==

